/* --- Navbar --- */
@media (min-width: 1200px) {
  #navbarMenuToggler,
  #navbarMenu,
  #mdLogo {
    display: none !important;
  }
}

#header {
  background-color: #005;
}

#xlNavbar {
  height: 56px;
  max-width: 1000px;
}

.navbar-brand {
  font-size: 24px !important;
}

#header a,
#header div {
  font-family: Georgia, serif;
  font-size: 16px;
  color: white;
}

#xlNavbar .nav-item:focus,
#xlNavbar .nav-item:hover {
  color: #d0d0d0 !important;
  border-bottom: 1px solid white;
}
